In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\abhis\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: trio~=0.17 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=20.1.0 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abhis\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\abhis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# Question 1. Scrape  the  
details  of  
most  viewed  videos  on  
YouTube  
from  Wikipedia.  
Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:  A) 
Rank   
B) Name   
C) Artist   
D) Upload date   
E) Views

In [72]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [73]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [86]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
View=[]

In [87]:
s_name=driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter']/tbody/tr/td[1]")
for i in s_name:
    names=(i.text)
    Name.append(names)
    
s_artist=driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter']/tbody/tr/td[2]")
for i in s_artist:
    artists=(i.text)
    Artist.append(artists)
    
u_date=driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter']/tbody/tr/td[4]")
for i in u_date:
    date=(i.text)
    Upload_date.append(date)
    
s_view=driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter']/tbody/tr/td[3]")
for i in s_view:
    views=(i.text)
    View.append(views)

In [88]:
Name

['"Baby Shark Dance"[6]',
 '"Despacito"[9]',
 '"Johny Johny Yes Papa"[17]',
 '"Bath Song"[18]',
 '"Shape of You"[19]',
 '"See You Again"[22]',
 '"Wheels on the Bus"[27]',
 '"Phonics Song with Two Words"[28]',
 '"Uptown Funk"[29]',
 '"Learning Colors – Colorful Eggs on a Farm"[30]',
 '"Gangnam Style"[31]',
 '"Masha and the Bear – Recipe for Disaster"[36]',
 '"Dame Tu Cosita"[37]',
 '"Axel F"[38]',
 '"Sugar"[39]',
 '"Counting Stars"[40]',
 '"Roar"[41]',
 '"Baa Baa Black Sheep"[42]',
 '"Lakdi Ki Kathi"[43]',
 '"Waka Waka (This Time for Africa)"[44]',
 '"Sorry"[45]',
 '"Thinking Out Loud"[46]',
 '"Humpty the train on a fruits ride"[47]',
 '"Dark Horse"[48]',
 '"Perfect"[49]',
 '"Shree Hanuman Chalisa"[50]',
 '"Let Her Go"[51]',
 '"Faded"[52]',
 '"Girls Like You"[53]',
 '"Lean On"[54]']

In [89]:
Artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Miroshka TV',
 'Psy',
 'Get Movies',
 'Ultra Records',
 'Crazy Frog',
 'Maroon 5',
 'OneRepublic',
 'Katy Perry',
 'Cocomelon - Nursery Rhymes',
 'Jingle Toons',
 'Shakira',
 'Justin Bieber',
 'Ed Sheeran',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 'Katy Perry',
 'Ed Sheeran',
 'T-Series Bhakti Sagar',
 'Passenger',
 'Alan Walker',
 'Maroon 5',
 'Major Lazer Official']

In [90]:
Upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'May 24, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'June 16, 2009',
 'January 14, 2015',
 'May 31, 2013',
 'September 5, 2013',
 'June 25, 2018',
 'June 14, 2018',
 'June 4, 2010',
 'October 22, 2015',
 'October 7, 2014',
 'January 26, 2018',
 'February 20, 2014',
 'November 9, 2017',
 'May 10, 2011',
 'July 25, 2012',
 'December 3, 2015',
 'May 31, 2018',
 'March 22, 2015']

In [91]:
View

['13.84',
 '8.34',
 '6.86',
 '6.55',
 '6.17',
 '6.13',
 '5.79',
 '5.63',
 '5.12',
 '5.04',
 '5.00',
 '4.57',
 '4.51',
 '4.24',
 '3.98',
 '3.94',
 '3.93',
 '3.90',
 '3.82',
 '3.81',
 '3.75',
 '3.71',
 '3.68',
 '3.65',
 '3.63',
 '3.61',
 '3.58',
 '3.57',
 '3.54',
 '3.52']

In [92]:
len(Name),len(Artist),len(Upload_date),len(View)

(30, 30, 30, 30)

In [93]:
df=pd.DataFrame({'Name':Name,'Artist':Artist,'Upload Date':Upload_date,'View':View})
df

,Name,Artist,Upload Date,View
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.84
1,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.34
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.86
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.55
4,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.17
5,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.13
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.79
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.63
8,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.12
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.04
10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.00
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.57
12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.51
13,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.24
14,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.98
15,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.94
16,"""Roar""[41]",Katy Perry,"September 5, 2013",3.93
17,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.90
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.82
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.81
20,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.75
21,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.71
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.68
23,"""Dark Horse""[48]",Katy Perry,"February 20, 2014",3.65
24,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.63
25,"""Shree Hanuman Chalisa""[50]",T-Series Bhakti Sagar,"May 10, 2011",3.61
26,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.58
27,"""Faded""[52]",Alan Walker,"December 3, 2015",3.57
28,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.54
29,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.52

In [94]:
driver.close()

# Question 2. Scrape the details team India’s international fixtures from bcci.tv.   
Url = https://www.bcci.tv/.   
You need to find following details:   
A) Series   
B) Place   
C) Date   
D) Time   
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [4]:
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/")

In [5]:
fixture=driver.find_element(By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
fixture.click()

In [6]:
M_series=[]
Place_m=[]
Date_m=[]
time_m=[]

In [7]:
series_tags=driver.find_elements(By.XPATH,"//h5[@class='match-tournament-name ng-binding']")
for i in series_tags:
    series=i.text
    M_series.append(series)

In [8]:
M_series

['AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'INDIA TOUR OF SOUTH AFRICA 2023-24',
 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'AFGHANISTAN TOUR OF INDIA 2023-24',
 'AFGHANISTAN TOUR OF INDIA 2023-24',
 'AFGHANISTAN TOUR OF INDIA 2023-24']

In [9]:
place_tags=driver.find_elements(By.XPATH,"//div[@class='match-place ng-scope']")
for i in place_tags:
    place=i.text
    Place_m.append(place)

In [10]:
Place_m

['Wankhede Stadium, Mumbai',
 'Wankhede Stadium, Mumbai',
 'Newlands, Cape Town',
 'DY Patil Stadium, NAVI MUMBAI',
 'DY Patil Stadium, NAVI MUMBAI',
 'DY Patil Stadium, NAVI MUMBAI',
 'Punjab Cricket Association IS Bindra Stadium, Mohali',
 'Holkar Cricket Stadium, Indore',
 'M Chinnaswamy Stadium, Bengaluru']

In [11]:
date_tags=driver.find_elements(By.XPATH,"//div[@class='match-dates ng-binding']")
for i in date_tags:
    date=i.text
    Date_m.append(date)

In [12]:
Date_m

['30 DECEMBER, 2023',
 '2 JANUARY, 2024',
 '3 JANUARY, 2024',
 '5 JANUARY, 2024',
 '7 JANUARY, 2024',
 '9 JANUARY, 2024',
 '11 JANUARY, 2024',
 '14 JANUARY, 2024',
 '17 JANUARY, 2024']

In [14]:
time_tags=driver.find_elements(By.XPATH,"//div[@class='match-time no-margin ng-binding']")
for i in time_tags:
    time=i.text
    time_m.append(time)

In [15]:
time_m

['1:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST']

In [16]:
df=pd.DataFrame({'Series':M_series,'Place':Place_m,'Date':Date_m,'Time':time_m})
df

,Series,Place,Date,Time
0,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","30 DECEMBER, 2023",1:30 PM IST
1,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","2 JANUARY, 2024",1:30 PM IST
2,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town","3 JANUARY, 2024",1:30 PM IST
3,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","5 JANUARY, 2024",7:00 PM IST
4,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","7 JANUARY, 2024",7:00 PM IST
5,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","9 JANUARY, 2024",7:00 PM IST
6,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...","11 JANUARY, 2024",7:00 PM IST
7,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore","14 JANUARY, 2024",7:00 PM IST
8,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru","17 JANUARY, 2024",7:00 PM IST

# Question 4. Scrape the details of trending repositories on Github.com.   
Url = https://github.com/   
You have to find the following details:   
A) Repository title   
B) Repository description   
C) Contributors count   
D) Language used   
ASSIGNMENT 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [54]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [58]:
driver=webdriver.Chrome()
driver.get('https://github.com/')

In [59]:
open_source=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
open_source.click()

In [60]:
trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
trending.click()

In [61]:
Repository_title=[]   
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [62]:
r_title=driver.find_elements(By.XPATH,"//span[@class='text-normal']")
for i in r_title:
    title=(i.text)
    Repository_title.append(title)

In [63]:
Repository_title

['movie-web /',
 'BartoszJarocki /',
 'jasonjmcghee /',
 'Frooodle /',
 'midudev /',
 'commaai /',
 'KRTirtho /',
 'mlabonne /',
 'radishes-music /',
 'stacksmashing /',
 'ashishps1 /',
 'midudev /',
 'hrvach /',
 'xuchengsheng /',
 'KwaiKEG /',
 'alibaba-damo-academy /',
 'joaomdmoura /',
 'twentyhq /',
 'ByteByteGoHq /',
 'codecrafters-io /',
 'iusztinpaul /',
 'build-trust /',
 'Flipper-XFW /',
 'roboflow /',
 'cypress-io /']

In [64]:
r_description=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in r_description:
    description=(i.text)
    Repository_description.append(description)

In [65]:
Repository_description

['A small web app for watching movies and shows easily',
 'Print-friendly, minimalist CV page',
 'An open source approach to locally record and enable searching everything you view on your Apple Silicon.',
 'locally hosted web application that allows you to perform various operations on PDF files',
 'Ejemplo de porfolio para programadores y desarrolladores',
 'openpilot is an open source driver assistance system. openpilot performs the functions of Automated Lane Centering and Adaptive Cruise Control for 250+ supported car makes and models.',
 "🎧 Open source Spotify client that doesn't require Premium nor uses Electron! Available for both desktop & mobile!",
 'Course to get into Large Language Models (LLMs) with roadmaps and Colab notebooks.',
 'Cross-platform copyright-free music platform（跨平台的无版权音乐平台）. 支持 windows / macos / linux / web',
 'A tool to explore USB-C on Apple devices using the Tamarin C Hardware.',
 'This repository contains System Design resources which are useful while preparing for interviews and learning Distributed Systems',
 'Web de los premios Esland para fines didácticos',
 'Fast Desktop Switching Device',
 '涵盖了 Spring 框架的核心概念和关键功能，包括控制反转（IOC）容器的使用，面向切面编程（AOP）的原理与实践，事务管理的方式与实现，Spring MVC 的流程与控制器工作机制，以及 Spring 中数据访问、安全、Boot 自动配置等方面的深入研究。此外，它还包含了 Spring 事件机制的应用、高级主题如缓存抽象和响应式编程，以及对 Spring 源码的编程风格与设计模式的深入探讨。',
 'A generalized information-seeking agent system with Large Language Models (LLMs).',
 'A Fundamental End-to-End Speech Recognition Toolkit and Open Source SOTA Pretrained Models.',
 'Building a modern alternative to Salesforce, powered by the community.',
 'Explain complex systems using visuals and simple terms. Help you prepare for system design interviews.',
 'Master programming by recreating your favorite technologies from scratch.',
 '🦖 𝗟𝗲𝗮𝗿𝗻 about 𝗟𝗟𝗠𝘀, 𝗟𝗟𝗠𝗢𝗽𝘀, and 𝘃𝗲𝗰𝘁𝗼𝗿 𝗗𝗕𝘀 for free by designing, training, and deploying a real-time financial advisor LLM system ~ 𝘴𝘰𝘶𝘳𝘤𝘦 𝘤𝘰𝘥𝘦 + 𝘷𝘪𝘥𝘦𝘰 & 𝘳𝘦𝘢𝘥𝘪𝘯𝘨 𝘮𝘢𝘵𝘦𝘳𝘪𝘢𝘭𝘴',
 'Orchestrate end-to-end encryption, cryptographic identities, mutual authentication, and authorization policies between distributed applications – at massive scale.',
 'The Dom amongst the Flipper Zero Firmware. Give your Flipper the power and freedom it is really craving. Let it show you its true form. Dont delay, switch to the one and only true Master today!',
 'We write your reusable computer vision tools. 💜',
 'Fast, easy and reliable testing for anything that runs in a browser.']

In [66]:
language=driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']")
for i in language:
    lang=(i.text)
    Language_used.append(lang)

In [67]:
Language_used

['TypeScript',
 'TypeScript',
 'Swift',
 'Java',
 'Astro',
 'Python',
 'Dart',
 'Jupyter Notebook',
 'TypeScript',
 'C',
 'Astro',
 'C',
 'Java',
 'Python',
 'Python',
 'Python',
 'TypeScript',
 'Jupyter Notebook',
 'Rust',
 'C',
 'Python',
 'JavaScript']

In [68]:
Contri_count=driver.find_elements(By.XPATH,"//span[@class='d-inline-block mr-3']")
for i in Contri_count:
    count=(i.text)
    Contributors_count.append(count)

In [69]:
Contributors_count

['Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Built by']

In [70]:
len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used)

(25, 24, 25, 22)

In [71]:
driver.close()

# Question 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/  You have to find the 
following details:   
A) Song name   
B) Artist name   
C) Last week rank   
D) Peak rank   
E) Weeks on board   
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [15]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [28]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [35]:
charts=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
charts.click()

In [36]:
view_charts=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a")
view_charts.click()

In [37]:
Song_name=[]
Artist_name=[]
Last_rank=[]
Peak_rank=[]
Week_board=[]

Details=[i.text.split('\n') for i in driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']")]

for i in Details:
    Song_name.append(i[0])
    Artist_name.append(i[1])
    Last_rank.append(i[2])
    Peak_rank.append(i[3])
    Week_board.append(i[4])

In [38]:
Artist_name

['Mariah Carey',
 'Brenda Lee',
 'Bobby Helms',
 'Wham!',
 'Burl Ives',
 'Jack Harlow',
 'Andy Williams',
 'Dean Martin',
 'Jose Feliciano',
 'The Ronettes',
 'Nat "King" Cole',
 'Ariana Grande',
 'Kelly Clarkson',
 'Perry Como And The Fontane Sisters With Mitchell Ayres And His Orchestra',
 'Bing Crosby With Ken Darby Singers & John Scott Trotter & His Orchestra',
 'Frank Sinatra With Orchestra Conducted By Gordon Jenkins',
 'Darlene Love',
 'Taylor Swift',
 'Tate McRae',
 'SZA',
 'Doja Cat',
 'Gene Autry',
 'Nat King Cole',
 'Michael Buble',
 'Elvis Presley',
 'Tyla',
 'Chuck Berry',
 'Zach Bryan Featuring Kacey Musgraves',
 'Doja Cat',
 'Eartha Kitt With Henri Rene And His Orchestra',
 'The Beach Boys',
 'Eagles',
 'Morgan Wallen',
 'Thurl Ravenscroft',
 'Jackson 5',
 'Paul McCartney',
 'Morgan Wallen',
 'Gene Autry & The Pinafores',
 'Nicki Minaj Featuring Lil Uzi Vert',
 'Taylor Swift',
 'Teddy Swims',
 'Nicki Minaj',
 'Jonas Brothers',
 'Andy Williams',
 'Donny Hathaway',
 'Luke Combs',
 'Paul Russell',
 'John & Yoko/The Plastic Ono Band With The Harlem Community Choir',
 'Billie Eilish',
 'Drake Featuring Sexyy Red & SZA',
 'Drake Featuring J. Cole',
 'Chris Stapleton',
 'Noah Kahan',
 'Miley Cyrus',
 'Nate Smith',
 'Usher, Summer Walker & 21 Savage',
 'Dua Lipa',
 'Mitski',
 'Warren Zeiders',
 'Tate McRae',
 'JID Featuring 21 Savage & Baby Tate',
 'Victoria Monet',
 'Drake Featuring Yeat',
 'Bad Bunny',
 'Nicki Minaj Featuring Drake',
 'Kenya Grace',
 'Jessie Murph & Jelly Roll',
 'Olivia Rodrigo',
 'Fuerza Regida & Marshmello',
 'Drake',
 'Peso Pluma & Anitta',
 'HARDY',
 'Dan + Shay',
 'Nicki Minaj',
 'Lil Tecca',
 'Xavi',
 'Taylor Swift',
 'Luke Combs',
 'Jung Kook',
 'Cody Johnson',
 'Meghan Trainor',
 'Karol G & Peso Pluma',
 'Lil Baby',
 'Flo Milli',
 'Juice WRLD, Eminem & benny blanco',
 'Parker McCollum',
 'Olivia Rodrigo',
 'George Birge',
 'Maluma & Carin Leon',
 'Sabrina Carpenter',
 'Xavi',
 'Zach Bryan Featuring The War And Treaty',
 'The Red Clay Strays',
 'Cher',
 'Riley Green Featuring Luke Combs',
 'Chloe',
 'Tate McRae',
 'Calle 24 x Chino Pacas x Fuerza Regida',
 'Rod Wave',
 'The Weeknd, JENNIE & Lily Rose Depp']

In [39]:
Song_name

['All I Want For Christmas Is You',
 "Rockin' Around The Christmas Tree",
 'Jingle Bell Rock',
 'Last Christmas',
 'A Holly Jolly Christmas',
 'Lovin On Me',
 "It's The Most Wonderful Time Of The Year",
 'Let It Snow, Let It Snow, Let It Snow!',
 'Feliz Navidad',
 'Sleigh Ride',
 'The Christmas Song (Merry Christmas To You)',
 'Santa Tell Me',
 'Underneath The Tree',
 "It's Beginning To Look A Lot Like Christmas",
 'White Christmas',
 'Jingle Bells',
 'Christmas (Baby Please Come Home)',
 'Cruel Summer',
 'Greedy',
 'Snooze',
 'Paint The Town Red',
 'Here Comes Santa Claus (Right Down Santa Claus Lane)',
 'Deck The Halls',
 "It's Beginning To Look A Lot Like Christmas",
 'Blue Christmas',
 'Water',
 'Run Rudolph Run',
 'I Remember Everything',
 'Agora Hills',
 'Santa Baby',
 'Little Saint Nick',
 'Please Come Home For Christmas',
 'Last Night',
 "You're A Mean One, Mr. Grinch",
 "Santa Claus Is Comin' To Town",
 'Wonderful Christmastime',
 "Thinkin' Bout Me",
 'Rudolph The Red-Nosed Reindeer',
 'Everybody',
 "Is It Over Now? (Taylor's Version) [From The Vault]",
 'Lose Control',
 'FTCU',
 "Like It's Christmas",
 'Happy Holiday / The Holiday Season',
 'This Christmas',
 'Fast Car',
 'Lil Boo Thang',
 'Happy Xmas (War Is Over)',
 'What Was I Made For?',
 'Rich Baby Daddy',
 'First Person Shooter',
 'White Horse',
 'Stick Season',
 'Used To Be Young',
 'World On Fire',
 'Good Good',
 'Houdini',
 'My Love Mine All Mine',
 'Pretty Little Poison',
 'Exes',
 'Surround Sound',
 'On My Mama',
 'IDGAF',
 'Monaco',
 'Needle',
 'Strangers',
 'Wild Ones',
 'Get Him Back!',
 'Harley Quinn',
 'You Broke My Heart',
 'Bellakeo',
 'Truck Bed',
 'Save Me The Trouble',
 'Beep Beep',
 '500lbs',
 'La Diabla',
 "You're Losing Me (From The Vault)",
 'Where The Wild Things Are',
 'Standing Next To You',
 'The Painter',
 'Jingle Bells',
 'Qlona',
 'Crazy',
 'Never Lose Me',
 'Lace It',
 'Burn It Down',
 "Can't Catch Me Now",
 'Mind On You',
 'Segun Quien',
 'Feather',
 'La Victima',
 'Hey Driver',
 'Wondering Why',
 'DJ Play A Christmas Song',
 "Different 'Round Here",
 'Winter Wonderland',
 'Run For The Hills',
 'Que Onda',
 'Great Gatsby',
 'One Of The Girls']

In [40]:
Last_rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '10',
 '12',
 '8',
 '15',
 '14',
 '11',
 '24',
 '23',
 '20',
 '18',
 '13',
 '9',
 '16',
 '17',
 '25',
 '28',
 '19',
 '27',
 '21',
 '38',
 '22',
 '30',
 '31',
 '40',
 '45',
 '29',
 '41',
 '37',
 '35',
 '32',
 '33',
 '26',
 '36',
 '47',
 '42',
 '46',
 '49',
 '-',
 '39',
 '43',
 '-',
 '53',
 '44',
 '51',
 '55',
 '54',
 '52',
 '62',
 '56',
 '59',
 '61',
 '71',
 '57',
 '72',
 '70',
 '66',
 '67',
 '34',
 '78',
 '77',
 '79',
 '76',
 '83',
 '-',
 '85',
 '96',
 '64',
 '81',
 '-',
 '68',
 '90',
 '99',
 '88',
 '-',
 '86',
 '-',
 '-',
 '-',
 '93',
 '84',
 '-',
 '91',
 '94',
 '-',
 '97',
 '-',
 '-',
 '-',
 '-',
 '69',
 '92',
 '-',
 '-']

In [41]:
Peak_rank

['1',
 '1',
 '3',
 '4',
 '4',
 '1',
 '5',
 '8',
 '6',
 '8',
 '9',
 '12',
 '11',
 '12',
 '12',
 '16',
 '15',
 '1',
 '7',
 '2',
 '1',
 '22',
 '16',
 '19',
 '24',
 '10',
 '10',
 '1',
 '14',
 '30',
 '29',
 '18',
 '1',
 '31',
 '33',
 '28',
 '7',
 '16',
 '26',
 '1',
 '39',
 '42',
 '43',
 '18',
 '37',
 '2',
 '23',
 '38',
 '14',
 '11',
 '1',
 '12',
 '31',
 '8',
 '47',
 '25',
 '11',
 '26',
 '46',
 '34',
 '61',
 '48',
 '2',
 '5',
 '34',
 '52',
 '42',
 '11',
 '40',
 '11',
 '71',
 '55',
 '73',
 '64',
 '51',
 '76',
 '27',
 '78',
 '5',
 '55',
 '81',
 '28',
 '83',
 '84',
 '85',
 '77',
 '56',
 '88',
 '68',
 '90',
 '91',
 '14',
 '93',
 '94',
 '95',
 '96',
 '69',
 '61',
 '30',
 '100']

In [42]:
Week_board

['64',
 '57',
 '55',
 '37',
 '38',
 '6',
 '38',
 '30',
 '31',
 '27',
 '43',
 '23',
 '26',
 '22',
 '34',
 '13',
 '21',
 '33',
 '14',
 '54',
 '20',
 '19',
 '12',
 '19',
 '12',
 '12',
 '21',
 '17',
 '13',
 '8',
 '7',
 '14',
 '47',
 '11',
 '10',
 '12',
 '42',
 '26',
 '2',
 '8',
 '19',
 '2',
 '6',
 '18',
 '4',
 '39',
 '14',
 '5',
 '23',
 '11',
 '11',
 '22',
 '12',
 '17',
 '8',
 '19',
 '6',
 '13',
 '15',
 '5',
 '6',
 '14',
 '11',
 '10',
 '2',
 '14',
 '11',
 '15',
 '7',
 '5',
 '1',
 '27',
 '8',
 '2',
 '13',
 '1',
 '4',
 '5',
 '7',
 '11',
 '1',
 '19',
 '1',
 '1',
 '1',
 '9',
 '7',
 '1',
 '12',
 '3',
 '1',
 '17',
 '1',
 '1',
 '4',
 '1',
 '2',
 '12',
 '13',
 '1']

In [43]:
len(Song_name),len(Artist_name),len(Last_rank),len(Peak_rank),len(Week_board)

(100, 100, 100, 100, 100)

In [44]:
df=pd.DataFrame({'Song Name':Song_name,'Artist Name':Artist_name,'Last Week Rank':Last_rank,'Peak Rank':Peak_rank,'Week on Board':Week_board})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Week on Board
0,All I Want For Christmas Is You,Mariah Carey,1,1,64
1,Rockin' Around The Christmas Tree,Brenda Lee,2,1,57
2,Jingle Bell Rock,Bobby Helms,3,3,55
3,Last Christmas,Wham!,4,4,37
4,A Holly Jolly Christmas,Burl Ives,5,4,38
...,...,...,...,...,...
95,Winter Wonderland,Chloe,-,96,1
96,Run For The Hills,Tate McRae,69,69,2
97,Que Onda,Calle 24 x Chino Pacas x Fuerza Regida,92,61,12
98,Great Gatsby,Rod Wave,-,30,13
99,One Of The Girls,"The Weeknd, JENNIE & Lily Rose Depp",-,100,1

In [45]:
driver.close()

# Question 6. Scrape the details of Highest selling novels.   
A) Book name   
B) Author name   
C) Volumes sold   
D) Publisher   
E) Genre   
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [95]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [96]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [97]:
Book_name=[]
Author_name=[]
Volume_sold=[]
Publisher=[]   
Genre=[]

In [98]:
book_n=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book_n:
    book=(i.text)
    Book_name.append(book)
    
author_n=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author_n:
    author=(i.text)
    Author_name.append(author)
    
volume_s=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volume_s:
    volume=(i.text)
    Volume_sold.append(volume)
    
publisher_b=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher_b:
    publish=(i.text)
    Publisher.append(publish)
    
genre_b=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre_b:
    genres=(i.text)
    Genre.append(genres)

In [99]:
Book_name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [100]:
Author_name

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [101]:
Volume_sold

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [102]:
Publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [103]:
Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [104]:
len(Book_name),len(Author_name),len(Volume_sold),len(Publisher),len(Genre)

(100, 100, 100, 100, 100)

In [105]:
df=pd.DataFrame({'Book Name':Book_name,'Author Name':Author_name,'Volume Sold':Volume_sold,'Publisher':Publisher,'Genre':Genre})
df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [106]:
driver.close()

# Question 7. Scrape the details most watched tv series of all time from imdb.com.   
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details:   
A) Name   
B) Year span   
C) Genre   
D) Run time   
E) Ratings   
F) Votes

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls095964455/")

In [ ]:
#page is not found 404 error

# Question 8. Details of Datasets from UCI machine learning repositories.   
Url = https://archive.ics.uci.edu/  You 
have to find the following details:   
A) Dataset name   
B) Data type   
C) Task   
D) Attribute type   
E) No of instances   
F) No of attribute G) Year   
Note: - from the home page you have to go to the Show All Dataset page through code.

In [19]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.action_chains import ActionChains

In [10]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [12]:
search=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/header/div[2]/div[2]/form/div/div/div[2]/div[1]/input")
search.send_keys('all datasets')

In [14]:
search_button=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/header/div[2]/div[2]/form/div/div/div[2]/div[1]/button")
search_button.click()

In [47]:
Dataset=[]

In [48]:
dataset_tag=driver.find_elements(By.XPATH,"//h2[@class='truncate text-primary']")
for i in dataset_tag:
    data=i.text
    Dataset.append(data)

In [49]:
Dataset

['Wine Quality',
 "Predict students' dropout and academic success",
 'ILPD (Indian Liver Patient Dataset)',
 'MHEALTH Dataset',
 'Basketball dataset',
 'FMA: A Dataset For Music Analysis',
 'User Knowledge Modeling',
 'Cisco Secure Workload Networks of Computing Hosts',
 'Steel Plates Faults',
 'APS Failure at Scania Trucks']

In [37]:
Data_type=[]
Task=[]
Attribute_type=[]
Instances=[]
Details=[i.text.split('\n') for i in driver.find_elements(By.XPATH,"//div[@class='my-2 hidden gap-4 md:grid grid-cols-12']")]

for i in Details:
    Data_type.append(i[1])
    Task.append(i[0])
    Instances.append(i[2])

In [38]:
Data_type

['Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate, Time-Series',
 'Time-Series',
 'Multivariate, Time-Series',
 'Multivariate',
 'Sequential, Text, Other',
 'Multivariate',
 'Multivariate']

In [39]:
Task

['Classification, Regression',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Clustering',
 'Classification, Clustering',
 'Clustering, Other',
 'Classification',
 'Classification']

In [40]:
Instances

['4.9K Instances',
 '4.42K Instances',
 '583 Instances',
 '120 Instances',
 '10K Instances',
 '106.57K Instances',
 '403 Instances',
 '1M Instances',
 '1.94K Instances',
 '60K Instances']

In [41]:
expand_all=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]")
expand_all.click()

In [42]:
Attribute_type=[]
Details=[i.text.split('\n') for i in driver.find_elements(By.XPATH,"//table[@class='col-span-full my-2 table sm:col-start-2']")]

for i in Details:
    Attribute_type.append(i[1])

In [43]:
Attribute_type

['Feature Type',
 'Feature Type',
 'Feature Type',
 'Feature Type',
 'Feature Type',
 'Feature Type',
 'Feature Type',
 'Feature Type',
 'Feature Type',
 'Feature Type']

In [50]:
len(Dataset),len(Data_type),len(Task),len(Attribute_type),len(Instances)

(10, 10, 10, 10, 10)

In [51]:
df=pd.DataFrame({'Dataset Name':Dataset,'Data Type':Data_type,'Task':Task,'Attribute Type':Attribute_type,'No of Instances':Instances})
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instances
0,Wine Quality,Multivariate,"Classification, Regression",Feature Type,4.9K Instances
1,Predict students' dropout and academic success,Tabular,Classification,Feature Type,4.42K Instances
2,ILPD (Indian Liver Patient Dataset),Multivariate,Classification,Feature Type,583 Instances
3,MHEALTH Dataset,"Multivariate, Time-Series",Classification,Feature Type,120 Instances
4,Basketball dataset,Time-Series,Classification,Feature Type,10K Instances
5,FMA: A Dataset For Music Analysis,"Multivariate, Time-Series","Classification, Clustering",Feature Type,106.57K Instances
6,User Knowledge Modeling,Multivariate,"Classification, Clustering",Feature Type,403 Instances
7,Cisco Secure Workload Networks of Computing Hosts,"Sequential, Text, Other","Clustering, Other",Feature Type,1M Instances
8,Steel Plates Faults,Multivariate,Classification,Feature Type,1.94K Instances
9,APS Failure at Scania Trucks,Multivariate,Classification,Feature Type,60K Instances

In [52]:
driver.close()